.modal{
    display: block !important;  
}

 
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 350px;
    overflow-y: auto;
}

.form-control.ng-touched.ng-invalid.ng-pristine {
    border : 2 px soild red
}


 