<div class=container>
  <h2>Movies Section</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>You can now edit the top 10 Avengers movies of all time</p>
        <p> <button class="btn btn-sm btn-outline-primary" (click)="AddModal()">Add New Movie</button></p>
        <div class="shadow-lg p-3 mb-9 bg-yellow rounded">

          <table class="table table-bordred table-striped movie">
            <thead>
              <tr>
                <th>Index</th>
                <th>Title</th>
                <th>Year</th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody>

              <tr scope="row" *ngFor="let Movie of Movies; let i = index">
                <td>{{i+1}}</td>
                <td>{{Movie.Title | JustEnglish | CapitalLetters}}</td>
                <td>{{Movie.Year}}</td>

                <td><i class="fa fa-1x fa-pencil hover" (click)="EditModel([Movie.imdbID])"></i> </td>
                <td><i class="fa fa-1x fa-trash hover" (click)="DeleteModal([Movie])"></i></td>
              </tr>

            </tbody>
            <tfoot>
              <tr>
                <td colspan="5" class="text-center"></td>
              </tr>
            </tfoot>
          </table>
        </div>
        <!--end of .table-responsive-->
      </div>
    </div>
  </div>
</div>